<div class="col-md-6 user-container">
    <h2 style="margin: auto"> History</h2>
    <div class="form-group">
      <button class="btn btn-success" (click)="go()">Generate number</button>
    </div>
    <table class="table table-striped ta" >
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>value</th>
        <th>Fibonacci</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden">{{user.id}}</td>
        <td>{{user.value}}</td>
        <td class="tdf">{{user.fb}}</td>
      </tbody>
    </table>
  </div>
  